<div>

    <h1>Llegamos</h1>
    <div>

        {{#each}}
        <div id="{{this.id}}">
            <div src="{{this.thumbnail}}" id="aImg"></div>
            <p>{{this.title}}</p>
            <p>{{this.category}}</p>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <p>{{this.code}}</p>


        </div>



        {{/each}}



    </div>



</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>